.mainWindow{
  width: 75%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin-top: 5%;
}

.imageHeaderHolder{
  flex-direction: column;
  display: flex;
  width: 90%;
  max-width: 300px;
  border: 1px solid rgba(32, 1, 1, 0.082);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.397);
}

.productHeader{
  font-weight: bold;
  font-size: large;
  padding-top: 2%;
  padding-left: 5%;
  margin-bottom: 0px;
}

.productDescription{
  text-align: center;
  width: 100%;
  margin-top: 3%;
}

.productDetailText{
  padding-left: 5%;
  margin-bottom: 0px;
  font-size: medium;
}

.responsiveImage{
  width: 100%;
  height: auto;
}

.backButton{
  margin-top: 2%;
  width: 15%;
  min-width: 150px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  color:  white;
  border: 0;
  text-decoration: none;
}

.backButton:hover{
  background-color: rgb(66, 66, 66);
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
}